<div>
	<div id="gallery" class="gallery_main">
		<div class="container">
			<h3 class="wthree_head">Photo Gallery</h3>
			<div class="w3l_gallery_grids">
				<ul class="w3l_gallery_grid gallery" id="lightGallery">
					<li data-title="Garden" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="../assets/images/g1.jpg" data-responsive-src="../assets/images/g1.jpg"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="../assets/#">
								<img src="../assets/images/g1.jpg" alt=" " class="img-responsive" /> 
								
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="../assets/images/g7.jpg" data-responsive-src="../assets/images/g7.jpg"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="../assets/#">
								<img src="../assets/images/g7.jpg" alt=" " class="img-responsive" /> 
								
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="../assets/images/g5.jpg" data-responsive-src="../assets/images/g5.jpg"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="../assets/#">
								<img src="../assets/images/g5.jpg" alt=" " class="img-responsive" /> 
								
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="../assets/images/g6.jpg" data-responsive-src="../assets/images/g6.jpg"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="../assets/#">
								<img src="../assets/images/g6.jpg" alt=" " class="img-responsive" /> 
								
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="../assets/images/g8.jpg" data-responsive-src="../assets/images/g8.jpg"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="../assets/#">
								<img src="../assets/images/g8.jpg" alt=" " class="img-responsive" /> 
								
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="../assets/images/g2.jpg" data-responsive-src="../assets/images/g9.jpg"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="../assets/#">
								<img src="../assets/images/g2.jpg" alt=" " class="img-responsive" /> 
								
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="../assets/images/g3.jpg" data-responsive-src="../assets/images/g3.jpg"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="../assets/#">
								<img src="../assets/images/g3.jpg" alt=" " class="img-responsive" /> 
								
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="../assets/images/g2.jpg" data-responsive-src="../assets/images/g2.jpg"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="../assets/#">
								<img src="../assets/images/g2.jpg" alt=" " class="img-responsive" /> 
								
							</a>
						</div>
					</li>
					<li data-title="Garden" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="../assets/images/g4.jpg" data-responsive-src="../assets/images/g4.jpg"> 
						<div class="w3_w3l_gallery_grid box">
							<a href="../assets/#">
								<img src="../assets/images/g4.jpg" alt=" " class="img-responsive" /> 
								
							</a>
						</div>
					</li>
				</ul>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>