<div class="map">
		<iframe src="https://www.google.com/maps/@6.9147672,79.880083,15z" style="border:0" allowfullscreen></iframe>
		<div class="agile_map_grid">
			<div class="agile_map_grid1">
				<h3>Contact Info</h3>
				<ul>
					<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><span>address :</span>No.35 highlevel road,Nugegoda</li>
					<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span>email :</span> <a href="grrenhouse@gmail.com">grennhouse@gmail.com</a></li>
					<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><span>call to us :</span>011 5863121</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="agileits_w3layouts_footer_grids">
				<div class="col-md-4 agileits_w3layouts_footer_grid">
					<h3>Call Us Now</h3>
					<ul>
						<li><span>Office Phone :</span> (011) 2302 232</li>
						<li><span>Fax :</span> (011) 123 456 455</li>
					</ul>
				</div>
				<div class="col-md-4 agileits_w3layouts_footer_grid">
					<h3>Address</h3>
					<p>No.35 highlevel road <i>Nugegoda</i></p>
				</div>
				<div class="col-md-4 agileits_w3layouts_footer_grid">
					<h3>send a message</h3>
					<ul>
						<li><span>Email :</span> <a href="">grrenhouse@gmail.com</a></li>
						
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3_agileits_footer_grids">
				<div class="col-md-4 w3_agileits_footer_grid">
					<p></p>
				</div>
				<div class="col-md-4 w3_agileits_footer_grid">
					<h3>Hours Work</h3>
					<h4></h4>
					<ul>
						<li><span></span></li>
						<li><span></span></li>
					</ul>
				</div>
				<div class="col-md-4 w3_agileits_footer_grid">
					<h3>Subscribe Now</h3>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Email" required="">
						<input type="submit" value="Submit ">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	