<!-- team -->
<div class="team" id="team">
    <div class="agile_dot_info two">
   <div class="container">
     <h3 class="wthree_head wthree_head1"><i class="fa fa-users" aria-hidden="true"></i>Team</h3>
     <div class="agileits_team_grids">
       <div class="col-md-4 agileits_team_grid">
         <div class="agileits_team_grid_figure">
           <img src="../assets/images/1.png" alt=" " class="img-responsive" />
         </div>
         <div class="agileits_team_grid_figure_social">
           <ul class="w3ls_social">
             <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
           </ul>
         </div>
         <div class="clearfix"> </div>
         <h4>Member1 <span>Staff</span></h4>
         <p>about the member1</p>
       </div>
       <div class="col-md-4 agileits_team_grid">
         <div class="agileits_team_grid_figure">
           <img src="../assets/images/3.png" alt=" " class="img-responsive" />
         </div>
         <div class="agileits_team_grid_figure_social">
           <ul class="w3ls_social">
             <li><a href="/#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            
           </ul>
         </div>
         <div class="clearfix"> </div>
         <h4>Member2 <span>Staff</span></h4>
         <p>about the member2</p>
       </div>
       <div class="col-md-4 agileits_team_grid">
         <div class="agileits_team_grid_figure">
           <img src="../assets/images/2.png" alt=" " class="img-responsive" />
         </div>
         <div class="agileits_team_grid_figure_social">
           <ul class="w3ls_social">
             <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            
           </ul>
         </div>
         <div class="clearfix"> </div>
         <h4>Member3<span>Staff</span></h4>
         <p>about the member3</p>
       </div>
       <div class="clearfix"> </div>
     </div>
   </div>
 </div>
</div>
<!-- //team -->