 <!--/welcome-->
 <div class="w3agile welcome" id="about"> 
  <div class="container">
    <h3 class="wthree_head">About US</h3>
      <div class="w3l_gallery_grids">
        <div class="col-md-6 banner_bottom_left">
          <h3>Welcome to greenhouse name </h3>
            <p><i>Smart Green House</i> discription of the greenhouse</p>
        <div class="read"><a href="#" data-toggle="modal" data-target="#myModal" class="hvr-rectangle-in">Read More</a></div>
      </div>
      <div class="col-md-6 banner_bottom_right">
        <div class="agile_w3l_info_gds">
            <div class="banner_bottom_right_grid">
              <div class="view view-tenth">
                <img src="../assets/images/a1.jpg"  alt="">
      
              </div>
            </div>
            <div class="banner_bottom_right_grid">
              <div class="view view-tenth">
                <img src="../assets/images/a2.jpg" class="img-responsive" alt="">
                </div>
             </div>
        <div class="clearfix"> </div>
      </div>
    <div class="agile_w3l_info_gds two">
        <div class="banner_bottom_right_grid">
          <div class="view view-tenth">
            <img src="../assets/images/a3.jpg" class="img-responsive" alt="">
            
          </div>
        </div>
        <div class="banner_bottom_right_grid">
          <div class="view view-tenth">
          <img src="../assets/images/a4.jpg" class="img-responsive" alt="">
          
          </div>
        </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="clearfix"> </div>
</div>	
</div>
<!--//welcome-->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
          </div>
          <div class="signin-form profile">
            <h3 class="agileinfo_sign">greenhouse name</h3>	
            <div class="modal-body">
            <img src="../assets/images/g1.jpg" alt=" " class="img-responsive" />
            <p>more about greenhouse</p>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- //bootstrap-pop-up -->

		<!-- banner-text -->
    <div class="banner-text w3-agile-banner-text">
      <div class="agile_dot_info">
        <div class="container">
          <h2> Let's Start to Build A Greenhouse To Get Higer Revenue</h2>
        </div>
      </div>
    </div>
  <!-- //banner-text -->