<div id="mail" class="contact">
		<div class="container">
			<h3 class="wthree_head"><i class="fa fa-pagelines" aria-hidden="true"></i>Mail Us</h3>
			<div class="w3layouts_mail_grids">
				<div class="col-md-5 w3layouts_mail_grid_left">
					<div class="w3_agile_contact_left">
						<ul>
							<li><img src="../assets/images/test1.jpg" alt=" " class="img-responsive" /></li>
							<li><img src="../assets/images/test2.jpg" alt=" " class="img-responsive" /></li>
							<li><img src="../assets/images/test1.jpg" alt=" " class="img-responsive" /></li>
							<li><img src="../assets/images/test2.jpg" alt=" " class="img-responsive" /></li>
							<li><img src="../assets/images/test1.jpg" alt=" " class="img-responsive" /></li>
							<li><img src="../assets/images/test2.jpg" alt=" " class="img-responsive" /></li>
						</ul>
						<h5>Follows on</h5>
						
					</div>
				<ul class="w3ls_social two">
							<li><a href="../assets/#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="../assets/#" class="agile_twitter"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="../assets/#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="../assets/#" class="wthree_rss"><i class="fa fa-rss"></i></a></li>
						</ul>
				</div>
				<div class="col-md-7 w3layouts_mail_grid_right">
					<form action="#" method="post">
						<div class="col-md-6 wthree_contact_left_grid">
							<input type="text" name="Name" placeholder="Name" required="">
							<input type="email" name="Email" placeholder="Email" required="">
						</div>
						<div class="col-md-6 wthree_contact_left_grid">
							<input type="text" name="Telephone" placeholder="Telephone" required="">
							<input type="text" name="Subject" placeholder="Subject" required="">
						</div>
						<div class="clearfix"> </div>
						<textarea name="Message" placeholder="Message..." required=""></textarea>
						<input type="submit" value="Submit">
						<input type="reset" value="Clear">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>