<div>
	<div id="mail" class="contact">
		<div class="container">
			<h3 class="wthree_head">Mail Us</h3>
			<div class="w3layouts_mail_grids">
				<div class="col-md-5 w3layouts_mail_grid_left">
					<img src="../assets/images/mail.jpg" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-7 w3layouts_mail_grid_right">
					<form action="#" method="post">
						<div class="col-md-6 wthree_contact_left_grid">
							<input type="text" name="Name" placeholder="Name" required="">
							<input type="email" name="Email" placeholder="Email" required="">
						</div>
						<div class="col-md-6 wthree_contact_left_grid">
							<input type="text" name="Telephone" placeholder="Telephone" required="">
							<input type="text" name="Subject" placeholder="Subject" required="">
						</div>
						<div class="clearfix"> </div>
						<textarea name="Message" placeholder="Message..." required=""></textarea>
						<input type="submit" value="Submit">
						<input type="reset" value="Clear">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>