<!-- banner -->
<div class="banner_top" id="home">
	<div data-vide-bg ="/assets/video/flowers">
		<div class="center-container">
			<div class="w3_agile_header">
						<div class="w3_agileits_logo">
								<h1><a href="../assets/index.html">A<i class="fa fa-pagelines" aria-hidden="true"></i>utonomous <span>Smart Garbage Collector</span></a></h1>
							</div>
							<div class="w3_menu">
							<div class="agileits_w3layouts_top_info_sub">
				
								<ul class="top_agile_info_ad">
									<li>
										<div class="header_contact_details_agile">
											<div class="w3l_header_contact_details_agile">
													<a routerLink="/signin">
																<h3><b>SignIn</b></h3>
													</a>
											</div>
									   </div>
									</li>
									<li>
										<div class="header_contact_details_agile">
											<div class="w3l_header_contact_details_agile">
													<a routerLink="/signup">
														<h3><b>SignUp</b></h3>
													</a>
											</div>
									   </div>
									</li>
								</ul>

							</div>
							
								<div class="overlay overlay-contentpush">
								 <button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>

								<nav>
									<ul>
										<li><a href="../assets/#home" class="active scroll" >Home</a></li>
										<li><a href="../assets/#about" class="scroll" >About</a></li>
										<li><a href="../assets/#team" class="scroll" >Team</a></li>
										<li><a href="../assets/#services" class="scroll" >Services</a></li>
										<li><a href="../assets/#gallery" class="scroll" >Gallery</a></li>
										<li><a href="../assets/#mail" class="scroll" >Contact</a></li>
									</ul>
								</nav>
							</div>
								<div class="mobile-nav-button">
								<button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>

								</div>
							
						</div>

					<div class="clearfix"></div>
			    </div>
				<!-- banner-text -->
				<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides callbacks callbacks1" id="slider4">
								<li>
									<div class="agileits-banner-info">
											<h4>Decorate your home</h4>
												<h3>Building A Better Garden</h3>
												<p>Garden Outlook</p>
											</div>	
								</li>
								<li>
									<div class="agileits-banner-info">
											<h4>Decorate your home</h4>
												<h3>With Beautiful Garden</h3>
												<p>Garden Outlook</p>
											</div>	
								</li>
								<li>
									<div class="agileits-banner-info">
											   <h4>Decorate your home</h4>
											   <h3>Building A Better Garden</h3>
											   <p>Garden Outlook</p>
											</div>	
								</li>
							</ul>
						</div>
						
				</div>
				<!--banner Slider starts Here-->
			<div class="w3_agileits_social_media ">
				<ul class="social-icons3">
					<li><a href="../assets/#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="../assets/#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="../assets/#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					<li><a href="../assets/#" class="wthree_rss"><i class="fa fa-rss"></i></a></li>
				</ul>
			</div>
		
      </div>
	  <div class="clearfix"> </div>
   </div>
     </div>
<!-- //banner -->