<!-- services -->
<div class="services" id="services">
		<div class="container">
			<h3 class="wthree_head"><i class="fa fa-pagelines" aria-hidden="true"></i>Special Services</h3>
			<div class="agileinfo_services_grids">
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid_left">
						<h4>Landscaping Design</h4>
					</div>
					<div class="agileinfo_services_grid_right">
						<h4>01.</h4>
					</div>
					<div class="clearfix"> </div>
					<p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl. 
						Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid_left">
						<h4>Tree Planting</h4>
					</div>
					<div class="agileinfo_services_grid_right">
						<h4>02.</h4>
					</div>
					<div class="clearfix"> </div>
					<p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl. 
						Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid_left">
						<h4>Garden Care</h4>
					</div>
					<div class="agileinfo_services_grid_right">
						<h4>03.</h4>
					</div>
					<div class="clearfix"> </div>
					<p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl. 
						Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid_left">
						<h4>Lawn Maintenance</h4>
					</div>
					<div class="agileinfo_services_grid_right">
						<h4>04.</h4>
					</div>
					<div class="clearfix"> </div>
					<p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl. 
						Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid_left">
						<h4>Award Winning</h4>
					</div>
					<div class="agileinfo_services_grid_right">
						<h4>05.</h4>
					</div>
					<div class="clearfix"> </div>
					<p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl. 
						Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid_left">
						<h4>Watering Garden</h4>
					</div>
					<div class="agileinfo_services_grid_right">
						<h4>06.</h4>
					</div>
					<div class="clearfix"> </div>
					<p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl. 
						Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->