<!-- services -->
<div class="services" id="services">
		<div class="container">
			<h3 class="wthree_head">Special Services</h3>
			<div class="agileinfo_services_grids">
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid_left">
						<h4>Service1</h4>
					</div>
					<div class="agileinfo_services_grid_right">
						<h4>01.</h4>
					</div>
					<div class="clearfix"> </div>
					<p>about the service1</p>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid_left">
						<h4>service2</h4>
					</div>
					<div class="agileinfo_services_grid_right">
						<h4>02.</h4>
					</div>
					<div class="clearfix"> </div>
					<p>about the service2</p>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid_left">
						<h4>service3</h4>
					</div>
					<div class="agileinfo_services_grid_right">
						<h4>03.</h4>
					</div>
					<div class="clearfix"> </div>
					<p>about the service3</p>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid_left">
						<h4>service4</h4>
					</div>
					<div class="agileinfo_services_grid_right">
						<h4>04.</h4>
					</div>
					<div class="clearfix"> </div>
					<p>about the service4</p>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid_left">
						<h4>service5</h4>
					</div>
					<div class="agileinfo_services_grid_right">
						<h4>05.</h4>
					</div>
					<div class="clearfix"> </div>
					<p>about the service5 </p>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid_left">
						<h4>service6</h4>
					</div>
					<div class="agileinfo_services_grid_right">
						<h4>06.</h4>
					</div>
					<div class="clearfix"> </div>
					<p>about the service6</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->