<div>
    <div>
        <app-head-banner></app-head-banner>
    </div>
    <div>
        <app-about-us></app-about-us>
    </div>
    <div>
        <app-our-services></app-our-services>
    </div>
    <div>
        <app-photo-gallary></app-photo-gallary>
    </div>
    <div>
        <app-our-team></app-our-team>
    </div>
    <div>
        <app-mail-us></app-mail-us>
    </div>
    <div>
        <app-contact-us></app-contact-us>
    </div>
    <div id="myModal1" class="modal fade" role="dialog">
        <div class="login" >
            <div class="form">
                <h2>Welcome</h2>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="submit" value="Sign In" class="submit">
            </div>
        </div>
    </div>
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="login" >
            <div class="form">
                <h2>Welcome</h2>
                <input type="text" placeholder="Username">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="submit" value="Sign Up" class="submit">
            </div>
        </div>
    </div>
<!-- </div> -->
<!-- </div> -->
</div>